version: '3.1'

services:

  db:
    image: postgres
    network_mode: bridge
#    container_name: postgres
    volumes: 
      - postgres-data:/var/lib/postgresql/data
    expose: 
      - 5434
    ports:
      - 5434:5434
    environment:
      POSTGRES_PASSWORD: admin
#    restart: always
    command: -p 5434

  robal:
    image: robal
    build: .
    network_mode: bridge
#    container_name: robal
#    expose:
#      - 8080
#      - 8443
    ports:
      - 443:8443
      - 80:8080
#    restart: always
    depends_on: 
      - db
    links: 
      - db
      
volumes:
  postgres-data: {}






































#version: "3"
#services:
#  postgres:
#    image: postgres:latest
#    network_mode: bridge
#    container_name: postgrescontained
#    volumes:
#      - postgres-data:/var/lib/postgresql/data
#    expose:
#      - 5434
#    ports:
#      - 5434:5432
#    environment:
#      - POSTGRES_PASSWORD=admin
#      - POSTGRES_USER=postgres
#      - POSTGRES_DB=postgres
#    restart: unless-stopped
#
#  robal:
#    image: robal:latest
#    network_mode: bridge
#    container_name: robalcontained
#    expose:
#      - 80
#    ports:
#      - 80:8080
#    restart: always
#    depends_on:
#      - postgres
#    links:
#      - postgres
#      
#volumes:
#  postgres-data: