spring:
  h2:
    console:
      enabled: true
      path: /h2-console 
  datasource:
    url: jdbc:postgresql://localhost:5434/postgres
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: admin
  jpa:
    properties: 
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
server:
  port: 8443
  ssl:
    key-store-password: password
    key-store: classpath:keystore.p12
    key-store-type: PKCS12
    key-alias: tomcat